.landing {
    position: relative; 
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cp {
    position: absolute;
    animation: slidein 0.7s forwards;
    animation-delay: 0.5s;
    font-size: 1500%;
    font-family: 'Playfair Display', serif;
    color: #D7695C;
    opacity: 0;
  }

  .welcome {
    position: absolute;
    margin-bottom: 20%;
    font-family: 'Montserrat', sans-serif;
    animation: slidein 0.7s forwards;
    animation-delay: 1s;
    font-size: 100%;
    color: #222222;
    opacity: 0;
    margin-left: 1%;
  }

  .as {
    animation: slidein 0.7s forwards;
    animation-delay: 1.5s;
    font-size: 300%;
    font-family: 'Playfair Display', serif;
    color: #222222;
    opacity: 0;
    margin-left: 1%;
  }

  .cs {
    position: absolute;
    margin-top: 25%;
    font-family: 'Montserrat', sans-serif;
    animation: slidein 0.7s forwards;
    animation-delay: 2s;
    font-size: 100%;
    color: #222222;
    opacity: 0;
    margin-left: 1%;
  }
  
  @keyframes slidein {
    0% {
      transform: translateX(-50%);
      opacity: 0;
      transition: transform 300ms linear;
	    will-change: transform;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      transition: transform 300ms linear;
	    will-change: transform;
    }
  }

  @media screen and (max-width: 600px) {
    .logo {
      width: 100%;
    }
  }