.landing {
    position: relative; 
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cp {
    position: absolute;
    animation: slidein 1s forwards;
    font-size: 1500%;
    font-family: 'Playfair Display', serif;
    color: #D7695C;
  }

  .as {
    animation: slidein 1s forwards;
    animation-delay: 0.5s;
    font-size: 300%;
    font-family: 'Playfair Display', serif;
    color: #222222;
    opacity: 0;
    margin-left: 1%;
  }
  
  @keyframes slidein {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media screen and (max-width: 600px) {
    .logo {
      width: 100%;
    }
  }