/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #222222;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #D7695C;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #222222;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #EEE9E7;
  padding: 2.5em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #EEE9E7;
}

/* Wrapper for item list */
.bm-item-list {
  color: #EEE9E7;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: #EEE9E7;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #D7695C;
  outline: none;
  padding: 10%;
  text-decoration: underline;
  text-transform: uppercase;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}