.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #F7F8F8;
}
/* :root {
  --mainColor: #697184;
} */
.nav-li {
  font-family: Cochin;
  font-size: 2vw;
  color: #3e3c41;
  display: inline-block;
  padding: 20px;
  text-decoration: underline;
  /* background:
  linear-gradient(
    to bottom, var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-decoration: none;
  transition: 700ms; */
}

.nav-li:hover {
  /* background-size: 4px 60px; */
  /* color: #F7F8F8; */
  text-decoration: none;
}